.card_list {
  display: block;
}

.card_list_title {
  flex: 1 1;
  margin: 0;
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
}

.card_list_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card_list_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 100%;
}

@media (width <= 880px) {
  .card_list_items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 400px) {
  .card_list_items {
    grid-template-columns: repeat(1, 1fr);
  }
}
