.wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.placeholder {
  position: absolute;
  inset: 0;
  background-color: #f2f2f2; /* вот это важно, чтобы не был просто белый фон */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(1.1);
  filter: blur(12px);
  transition: opacity 0.3s ease;
}

.placeholder_hidden {
  opacity: 0;
}

.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image_loaded {
  opacity: 1;
}
