.product__delivery {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-right: 20px;
  padding: 12px 16px;
  background-color: #fdf6d8;
  border-radius: 16px;
}

.product__delivery + .product__delivery {
  margin-top: 12px;
}

.product__right {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product__name {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
}

.product__text {
  margin: 0;
  font-size: 14px;
}

.product__bold {
  font-weight: 600;
}
