.cart_amount {
  display: grid;
  grid-auto-rows: min-content;
  grid-area: amount;
  row-gap: 24px;
  padding: 16px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow:
    0 0 1px rgb(40 41 61 / 2%),
    0 2px 16px rgb(96 97 112 / 16%);
}

.cart_amount_title {
  margin: 0;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

.cart_amount_table {
  display: grid;
  row-gap: 16px;
}

.cart_amount_table_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_amount_table_title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.cart_amount_table_value {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.cart_amount_table_value_discount {
  color: #f44336;
}

.cart_amount_total_cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_amount_total_cost_title {
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
}

.cart_amount_total_cost_value {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}
