.content {
  padding: 20px 0;
}

.container {
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

.content-cart {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 'info info' 'list amount';
  align-items: flex-start;
  column-gap: 60px;
}

.cart-title {
  grid-area: info;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
}

.cart-title span {
  font-weight: 800;
}

.cart-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart-item {
  align-items: center;
  gap: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eceff1;
}

.cart-item:last-of-type {
  border-bottom: none;
}

.cart-item__desc {
  display: flex;
  flex-grow: 1;
  align-items: center;
  column-gap: 16px;
}

.cart-item__image {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.cart-item__title {
  width: 100%;
  margin: 0;
  color: currentcolor;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.cart-item__price {
  text-align: right;
}

.cart-item__weight {
  margin: 0;
  color: #7b8e98;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.cart-item__bnt-trash {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-item__bnt-trash:hover path {
  fill: red;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
}

.price-wrap {
  position: relative;
  max-width: 200px;
  padding-top: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  display: block;
  font-weight: 800;
  font-size: 1.75em;
  line-height: 1.14;
}

.price_old {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-weight: 600;
  font-size: 0.88em;
  line-height: 1.42;
  text-decoration: line-through;
}

.price_discount {
  color: #f44336;
}

.price-big {
  font-size: 16px;
}

.price-small {
  font-size: 14px;
}

.price_left {
  right: auto;
  left: 0;
}

.price_right {
  right: 0;
  left: auto;
}

.cart-amount {
  display: grid;
  grid-auto-rows: min-content;
  grid-area: amount;
  row-gap: 24px;
  padding: 16px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow:
    0 0 1px rgb(40 41 61 / 2%),
    0 2px 16px rgb(96 97 112 / 16%);
}

.cart-amount__title {
  margin: 0;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

.cart-amount__table {
  display: grid;
  row-gap: 16px;
}

.cart-amount__table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-amount__table-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.cart-amount__table-value {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.cart-amount__table-value-discount {
  color: #f44336;
}

.cart-amount__total-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-amount__total-cost-title {
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
}

.cart-amount__total-cost-value {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 10px 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  column-gap: 8px;
  border: 2px solid transparent;
  border-radius: 55px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button_type_primary {
  background-color: #ffe44d;
}

.button_type_primary:hover {
  color: #f44336;
  background-color: #ffaa0d;
}

.button_type_ligth {
  color: #1a1a1a;
  background-color: #ffffff;
}

.button_type_ligth:hover {
  background-color: #eceff1;
}

.button_type_secondary {
  color: #1a1a1a;
  background-color: transparent;
  border-color: #cfd8dc;
}

.button_type_secondary:hover {
  border-color: #7b8e98;
}

.button_type_border {
  color: #1a1a1a;
  background-color: transparent;
  border-color: #cfd8dc;
}

.button_type_border:hover {
  border-color: #7b8e98;
}

.button_type_box {
  padding: 16px 16px 16px 28px;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  border-radius: 60px;
  box-shadow:
    0 0 1px rgb(40 41 61 / 2%),
    0 2px 16px rgb(96 97 112 / 16%);
}

.button_type_wide {
  width: 100%;
}
