.content {
  padding: 20px 0;
}

.container {
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

.content_cart {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    'info info'
    'list amount';
  align-items: flex-start;
  gap: 24px 60px;
}

.cart_title {
  grid-area: info;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
}

.cart_title span {
  font-weight: 800;
}

@media (width <= 1024px) {
  .content_cart {
    column-gap: 32px;
  }
}

@media (width <= 768px) {
  .content_cart {
    grid-template-columns: 1fr;
    grid-template-areas:
      'info'
      'list'
      'amount';
    row-gap: 20px;
  }

  .cart_title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 28px;
  }
}
