.product__box {
  margin-bottom: 32px;
  padding: 24px 20px 28px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 18px rgb(0 0 0 / 4%);
}

.product__title {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 20px;
}

.product__subtitle {
  margin: 0 0 24px;
  color: #777777;
  font-size: 14px;
}

.product__grid {
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 12px 24px;
  font-size: 14px;
}

.product__naming {
  font-weight: 600;
}

.product__description {
  color: #555555;
}

.product__description p {
  margin: 0 0 4px;
}

.product__description p:last-child {
  margin-bottom: 0;
}
