.wrapper {
  display: inline-flex;
  gap: 4px;
}

.star_button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: default;
}

.star_button_editable {
  cursor: pointer;
}

.star_icon {
  display: block;
  width: 16px;
  height: 16px;
}
