.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.input {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin: 12px 0;
  padding: 7px 16px;
  background: #ffffff;
  border: 1px solid #cfd8dc;
  border-radius: 12px;
}

.input:focus {
  border-color: #ffe44d;
  outline: none;
}

.textarea {
  height: auto;
  min-height: 110px;
  padding-top: 12px;
  resize: none;
}
