.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 236px;
  height: 100%;
  min-height: 420px;
  padding: 10px;
  border-radius: 10px;
}

.card:hover {
  box-shadow:
    0 2px 4px rgb(40 41 61 / 4%),
    0 8px 16px rgb(96 97 112 / 16%);
}

.card:focus-within {
  box-shadow:
    0 0 1px rgb(40 41 61 / 16%),
    0 1px 2px rgb(96 97 112 / 24%);
}

.card__desc {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 14px;
  font-weight: 600;
  font-size: 16px;
}

.card__image {
  margin-bottom: 16px;
}

.card__price {
  display: block;
  margin-bottom: 6px;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

.card__price_type_discount {
  color: #f44336;
}

.card__wight {
  display: block;
  margin-bottom: 2px;
  color: #7b8e98;
  font-size: 12px;
  line-height: 14px;
}

.card__name {
  font-size: 16px;
  line-height: 1.25;
}

.card__discount {
  padding: 2px 8px;
  color: #ffffff;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  background-color: #f44336;
  border-radius: 20px;
}

.card__sticky {
  position: absolute;
  z-index: 2;
  padding: 10px;
}

.card__sticky_type_top_left {
  top: 0;
  left: 0;
}

.card__sticky_type_top_right {
  top: 0;
  right: 0;
}

.card__link {
  display: block;
  width: 100%;
  color: currentcolor;
  text-decoration: none;
}

.card__tags {
  display: inline-flex;
  align-items: center;
}

.card__tags_measure {
  position: absolute;
  white-space: nowrap;
  visibility: hidden;
}
